APP_NAME=PHOENIX
APP_ENV=local
APP_KEY=__GENERATE_LOCALLY__
APP_DEBUG=true
APP_URL=http://127.0.0.1:18080

LOG_CHANNEL=stderr
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=phoenix_dev
DB_USERNAME=phoenix_dev
DB_PASSWORD=__GENERATE_LOCALLY__
DB_SSLMODE=prefer

CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_DB=0
REDIS_CACHE_DB=1
REDIS_PREFIX=phoenix_dev_database_
CACHE_PREFIX=phoenix_dev_cache_
REDIS_QUEUE=phoenix-dev

PHOENIX_HTTP_PORT=18080
PHOENIX_ENV_FILE=.env.dev
